*{
    margin:0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing:border-box;

}

body{
    background: #002339;
    color: #fff;
}


.container{
    
    margin: 10%;
    width: 90%;
    max-width: 700px;
}


.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:26px 20px;
    border-radius: 5px;
}

.container h1{
     font-weight: 500;
     font-size: 45px;

}

.container h1 span{
     color: #019F55;
     border-bottom:  4px solid #019f55;
     padding-bottom: 7px;

}


.display img {
    width: 30px;
    cursor: pointer;
}


.display input {
    border: 0;
    outline: 0;
    font-size: 20px;
}
.container button{
    border: none;
    outline: none;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}

.container button img {
    width:28px;
    margin-right: 10px;
}

@media screen  and (max-width:500px) {
    body{
        padding:20px;
    }
    .container h1{
        font-weight: 300;
        font-size: 30px;
   
   }
    .display{
        height: 20px;
        
    }
    .container button{
        height: 60px;
    }
    .display img {
        width: 20px;
    }
    
}
